* {
  margin: 0px;
  padding: 0px;
}
body {
  background: url(bg.jpg) no-repeat center / cover;
}
.top {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#mo-menu,
#close {
  display: none;
}
#mo-search {
  padding: 10px;
}
#mo-search:hover {
  background-color: lightyellow;
}
.search {
  display: flex;
  /* justify-content: right; */
  margin-left: 10px;
  opacity: 0;
}
.search.active {
  opacity: 1;
}
.btn {
  margin-left: 10px;
}
.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.head-line svg {
  width: 430px;
}

.menus {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
  margin-bottom: 2em;
}
.menus button {
  border: none;
  background: none;
  padding: 5px;
}
.menus button:hover {
  background-color: beige;
}

.news-img-size {
  width: 100%;
  max-width: 100%;
  max-height: 230px;
  object-fit: cover;
}
.news {
  border-bottom: 1px solid black;
  margin: 20px 0px;
  padding-bottom: 20px;
}
.news h2 {
  font-size: 22px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
@media (max-width: 780px) {
  #menu {
    width: 40px;
    display: block;
    margin-right: 10px;
  }

  #mo-menu {
    display: block;
    margin-right: 10px;
    padding: 10px;
  }
  #mo-menu:hover {
    background-color: lightyellow;
  }
  .top {
    height: 70px;
    display: flex;
    align-items: center;
  }

  #mo-head {
    width: 50%;
    height: 100vh;
    padding: 20px;
    padding-top: 50px;
    background-color: lightyellow;
    position: absolute;
    top: 100px;
    left: -50%;
    transition: 0.5s;
  }

  #close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .menus button {
    width: 100%;
    border: none;
    background: none;
    padding: 5px;
    display: block;
  }
  .mo_menus button:hover {
    background-color: beige;
  }
}
